@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

:root {
  --Pure-Black: #000;
  --Pure-White: #fff;
  --border-radius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto Serif", serif;
  background-color: var(--Pure-Black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: var(--Pure-White);
  padding: 1.6rem;
  border-radius: var(--border-radius);
  background: linear-gradient(to right, #606c88, #3f4c6b);
  box-shadow: rgba(255, 255, 255, 0.3) 0px 7px 29px 0px;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.calculatorOutput {
  min-width: 200px;
  min-height: 50px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--Pure-White);
  padding: 1rem;
}

.calculatorInput {
  background-color: var(--Pure-Black);
  padding: 0.8rem;
  border-radius: var(--border-radius);
}

.calculatorInputContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(3vw, 50px));
  grid-template-rows: repeat(5, minmax(3vw, 50px));
  gap: 1rem;
}

.btn {
  background-color: var(--Pure-White);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  user-select: none;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  transform: scale(0.93);
}

#deleteBtn {
  background-color: #f85032;
  color: var(--Pure-White);
}

#minusBtn {
  background-color: #ffafbd;
}

#plusBtn {
  background-color: #dce35b;
}

#divideBtn {
  background-color: #41295a;
}

#multiplyBtn {
  background-color: #00d2ff;
  color: var(--Pure-White);
}

#remainderBtn {
  background-color: #e96443;
  color: var(--Pure-White);
}

#clearBtn {
  background-color: #6a3093;
  color: var(--Pure-White);
}
